$primary: #103178;
$warning :#ffc800;

@import "bootstrap";

.admin-nav {
    padding-top: 10px;
    margin: 0;
    list-style: none;
    line-height: 34px;

    li {
        color: white;

        a {
            color: white;
            text-decoration: none;

        }
    }
}